/* ShoppingCart.css */
.cart-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-details p {
    margin: 0;
  }
  
  .cart-item-price {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .cart-item-count {
    color: #666;
  }
  
  .cart-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .cart-item button:hover {
    background-color: #0056b3;
  }

  .button-count{
    display: flex;
    gap: 20px;
    width: 40%;
  }

  .button-count button {
    font-size: 20px;
  }

